/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;500&display=swap');

body{
    margin: 0px;
    font-family: 'Heebo', sans-serif;
}
.nav{
    position:fixed ;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    height: 10vh;
    align-items: center;
    width: 100%;
    margin: 0px;
    border-style: solid 10px
    ;
}
.nav-links{
    display: flex;
    align-items: center;
    margin: 15px;
}
.nav-links p{
    font-size: 2rem;
    font-weight: 100;
}
.nav-links p:hover{
    color: #00B172;
    cursor: pointer;
}
.music-everyone{
    background-image: url('/images/landing.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
}
.music-everyone p{
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 200;
}
.music-everyone h1{
    color: white;
  text-align: center;
    font-size: 7.3rem;
    
}
.spotify{
    height: 60vh;
}

.spotify h2{
    text-align: center;
    text-decoration: #00B172 underline;
    text-underline-offset: 12px;
    font-size: 4rem;
}
.features{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #00B172;
}
.features h3{
    font-size: 2rem;
}
.features p{
    font-size: 30px;
    color: black;
    font-weight: 200;
    
   
}
.kanye{
    height: 80vh;
    background-color: #00B172;
    margin: 0px 30px 0px 30px;
    padding-left: 50px;
    display: flex;
}
.finding-music{
    align-self: center;
}
.kanye-profile{
    align-self: center;
}

.finding-music h2{
    text-decoration: white underline;
    text-underline-offset: 25px;
    font-size: 3.4rem;
    color: white;
    font-weight: 350;
}
.finding-music h3{
    color: white;
    font-size: 2rem;

}
.finding-music p{
    color: white;
    font-size: 2rem;
   font-weight: 200;
}
.spotify-logo{
    align-self: center;
}

@media(min-width:1024px){
    .nav-title img{
        height: 45px;
        margin: 10px;
    }
    .nav-links p{
        font-size: 1rem;
        margin: 10px;
    }
    .music-everyone h1{
       font-size: 4rem;
    }
    .music-everyone p{
        font-size: 2rem;
     }
     .spotify h2{
        font-size: 2rem;
     }
     .features h3{
        font-size: 1.5rem;
     }
     .features p{
         font-size: 18px;
     }
     .features img{
         height: 70px;
     }
     .finding-music p{
         font-size: 1rem;
     }
     .finding-music h2{
         font-size: 1.8rem;
         text-underline-offset: 10px;
     }
     .finding-music h3{
         font-size: 1.3rem;
     }
     .spotify-logo img{
         height: 110px;
     }
     .kanye-profile{
        align-self: center;
     }
     .kanye-profile img{
        height: 550px;
        padding-right: 45px;
     
    }

    .kanye{
        display: flex;
        justify-content: space-between;
    }
 }
